@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply h-7 hover:scale-125 transition-transform duration-200 ease-out cursor-pointer;
  }
}
@media screen and (max-width: 390px) {
  .absolute svg {
    margin: 0.25em 0em 0em 1.9em;
  }
  .relative input {
    width: 70%;
    margin-left: 2em;
    padding: 1em;
  }
  .relative input::placeholder {
    text-align: center;
  }
  .stories {
    overflow-x: scroll;
  }
}
